html {
    
  scroll-behavior: smooth;
}

hr{
  color: white;
}

.hide-me{
  display: none;
}

.App {
font-family: 'Questrial',
sans-serif;
  text-align: center;
  color: white;

background: #264653;

}

h1,
h2,
h3 {
    font-family: 'Questrial',
    sans-serif;
}

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* //Put your CSS here for 768px to 1024px width devices(covers all width between 768px to 1024px //    */
  }
    
    @media only screen and (min-width: 200px) and (max-device-width: 425px) {
      /* styles for mobile browsers smaller than 480px; (iPhone) */
    
      
      .App-header {
              font-family: 'Questrial',
                sans-serif;
              min-height: 100vh;
              position: relative;
              bottom: 70px;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
            }

            /* ============================================================================================================== */
                                        /* Navbar links and styling */
                                        
                                        #portfolio-navbar {
                                          
                                          min-height: 5vh;
                                          border-bottom-left-radius: 1rem;
                                          border-bottom-right-radius: 1rem;
                                          display: flex;
                                          flex-direction: column;
                                          align-items: center;
                                          justify-content: center;
                                          font-size: 16px;
                                          background: #74b7a900;
                                        
                                        }
                                        
                                        /* fallback for old browsers */
                                        /* .nav-links {
                                          display: flex;
                                          width: 478px;
                                          font-family: 'Questrial',
                                            sans-serif;
                                          font-size: 12px;
                                          color: #e5ba6b;
                                          ;
                                        } */
                                        
                                        #nav-num {
                                          display: flex;
                                          color: #37A28E;
                                          font-size: 18px;
                                        }
                                        
                                        .offcanvas-header {
                                          position: relative;
                                          left: 25px;
                                        }

                                        #zack-logo{
                                          width: 40px;
                                          height: 40px;
                                          ;
                                        }
            
            /* =========================================================================================================== */

            #landing-text1{
                position: relative;
                top: -40px;
                display: flex;
                left: 25px;
                color: rgb(211, 207, 202);
                font-size: 38px;

            }

            #landing-text2 {
              font-size: 48px;
              color:#efd09e;
              display: flex;
              position: relative;
              top: -40px;
              left: 25px;
            }    
            
            #landing-text3 {
              font-size: 25px;
              color: rgb(211, 207, 202);
              display: flex;
              position: relative;
              top: -40px;
              left: 25px;
            }
            
            #landing-text4 {
              font-size: 18px;
              color: rgb(211, 207, 202);
              display: flex;
              position: relative;
              top: -40px;
              margin: auto;
            }

            /* ================================================================================================================== */
              #about-title {
                margin-top: 30px;
                color:#efd09e;
                font-size: 25px;
                display: flex;
                position: relative;
                text-align: start;
              }

            .about {
              min-height: 100vh;
              display: flex;
              position: relative;
              bottom: 1rem;
              font-size: 18px;
              color: rgb(211, 207, 202);
              flex-direction: column;
              align-items: center;
              justify-content: center;
            }

            #skills-background-div{
              width: 300px;
              height: 300px;
              display: flex;
              position: relative;
              left: 25px;
              margin-top: 30px;
              border-radius: 10px;
              background-color: #37A28E;
            }
            
            #skills-section {
              box-shadow: 1px 5px  22px black, 1px 1px 1px black;
              height: 275px;
              background-color: black;
              border-radius: 25px;
              position: relative;
              display: flex;
              top: 12px;
              left: 12px;
              width: 275px;
              margin-bottom: 40px;
            }
            
            #skills-title {
              color: #E5BA6B;
              font-weight: 600;
              display: flex;
              position: relative;
              color: rgb(211, 207, 202);
              top: -170px;
              left: 7rem;
              margin: auto;
    }
            #tech-icon{
              display: flex;
              position: relative;
              flex-direction: row;
              flex-wrap: wrap;
              top: -110px;
              margin: auto;
              width: 50px;
            }

            #react-icon{
              display: flex;
              position: relative;
              top: 30px;
              left: -30px;
              margin: auto;
              width: 60px;
            }

            #css-icon{
              display: flex;
              position: relative;
              top: 110px;
              left: -40px;
              margin: auto;
              width: 60px;
            }

            #html-icon{
              display: flex;
              position: relative;
              top: 110px;
              left: -40px;
              margin: auto;
              width: 60px;
            }

            #js-icon{
              display: flex;
              position: relative;
              top: 110px;
              left: -40px;
              margin: auto;
              width: 60px;
            }

            #github-icon{
              display: flex;
              position: relative;
              top: 130px;
              right: 15rem;
              margin: auto;
              width: 60px;
            }

            #csharp-icon{
              display: flex;
              position: relative;
              top: 19px;
              left: -40px;
              margin: auto;
              width: 60px;
            }

            #postgresql-icon{
              display: flex;
              position: relative;
              top: 110px;
              right: 25rem;
              margin: auto;
              width: 120px;
            }
            
            #dotnet-icon{
              display: flex;
              position: relative;
              top: 200px;
              right: 12rem;
              margin: auto;
              width: 60px;
            }

            #bootstrap-icon{
              display: flex;
              position: relative;
              top: 50px;
              right: 14rem;
              margin: auto;
              width: 60px;
            }

            #visual-studio-icon{
              display: flex;
              position: relative;
              top: 200px;
              right: 33rem;
              margin: auto;
              width: 60px;
            }

            #vscode-icon{
              display: flex;
              position: relative;
              top: 210px;
              right: 19rem;
              margin: auto;
              width: 60px;
            }

            /* ======================================================================================================================= */
            
                        #projects-section {
                          margin-bottom: 40px;
                        }
                        
                        .portfolio {
                          min-height: 100vh;
                          display: flex;
                          flex-direction: row;
                          align-items: center;
                          justify-content: center;
                          font-size: 16px;
                          
                        }
                        
                        .portfolio-items {
                          display: flex;
                          flex-wrap: wrap;
                          flex-direction: row;
                          align-items: center;
                          justify-content: center;
                          font-size: 16px;
                          
                          min-height: 45vh;
                          height: fit-content;
                        }
                        
                        .projects-title {
                          margin-top: 30px;
                          color:#efd09e;
                          font-size: 25px;
                          display: flex;
                         position: relative;
                         justify-content: center;
                         margin-bottom: 30px;
                          
                        }

                                    /* Project SVGs showcasing gifs on hover */
                                    #projectSVG {
                                      align-items: center;
                                      justify-content: center;
                                      margin-right: 2rem;
                                      border-radius: 15px;
                                      border: darkgray solid;
                                      box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
                                        rgb(0 0 0 / 73%) 0px 16px 10px -10px;
                                      cursor: pointer;
                                      display: flex;
                                      position: relative;
                                      transform: scale(1);
                                      width: 100%;
                                      transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s !important;
                                    }
                                    
                                    #projectSVG:hover {
                                      border: white solid;
                                      box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
                                        rgb(0 0 0 / 73%) 0px 16px 10px -10px;
                                      transform: scale(1.05);
                                      cursor: pointer;
                                      opacity: 1;
                                      transition: 0.4s;
                                    }
                                    
                                    #projectRect::before {
                                      content: "";
                                      background-image: url(#projectImage);
                                      z-index: 2;
                                    }
                                    
                                    #projectRect {
                                      fill: url(#projectGradient);
                                    }
                                    
                                    #projectGif {
                                      transition: 0.4s;
                                      opacity: 1;
                                    }
                                    
                                    #projectSVG:hover #projectRect {
                                      fill: url(#projectGif);
                                      opacity: 0;
                                    }
                                    
                                    #projectSVG:hover #projectImage {
                                      opacity: 0;
                                      transition: 0.4s;
                                    }
                                    
                                    #projectSVG:hover #projectGradient {
                                      opacity: 0;
                                      transition: 0.4s;
                                    }
                                    
                                    #projectRect>#projectGif {
                                      transition: 0.4s;
                                    }

                                    #project-info-title{
                                      display: flex;
                                      justify-content: center;
                                      align-items: center;
                                      height: 50px;
                                      background-color: rgba(5, 5, 5, 0.66);
                                      margin-top: 30px;
                                      border-radius: 10px;
                                      font-weight: 700;
                                      font-size: 30px;
                                      color: #efd09e;
                                      margin-bottom: 10px;
                                    }

                                    #project-info-summary{
                                      display: flex;
                                      justify-content: center;
                                      align-items: center;
                                      height: 150px;
                                      background-color: rgba(5, 5, 5, 0.66);
                                      border-radius: 10px;
                                      font-weight: 700;
                                      font-size: 15px;
                                      color: #efd09e;
                                      margin-bottom: 10px;
                                    }

                                    #project-info-tech{
                                      font-size: 16px;
                                      display: flex;
                                      position: relative;
                                      bottom: 25px;
                                      color: #efd09e;
                                      margin-bottom: 10px;
                                    }

                                    #project-info-links{
                                      font-size: 16px;
                                      position: relative;
                                      bottom: 110px;
                                      left: 18rem;
                                    display: flex;
                                      color: #efd09e;
                                      margin-bottom: 10px;
                                    }

                        /* ============================================================================================ */
            #resume-button {
              background: linear-gradient(173deg, #37A28E 0%, #264653 100%);
              width: 150px;
              height: 80px;
              display: flex;
              position: relative;
              justify-content: center;
              align-items: center;
              left: 100px;
              background-repeat: no-repeat;
              background-position: center;
              border-radius: 10px;
              transition: 0.4s;
              transform: rotate(0deg);
              border: 2px solid white;
              box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
                rgb(0 0 0 / 73%) 0px 16px 10px -10px;
            }
            
            #resume-button:hover {
              background: black;
              border: 1px solid white;
              z-index: 10;
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;
              border-radius: 10px;
              transition: 0.4s;
              transform: scale(1.15);
              cursor: pointer;
            }
            
            #resume-text {
              font-size: 18px;
            }

  #resume-title {
                margin-top: 30px;
                color:#efd09e;
                font-size: 25px;
                display: flex;
                position: relative;
                text-align: start;
                justify-content: center;
  }
  
  #contact-title {
                color:#efd09e;
                font-size: 25px;
                display: flex;
                position: relative;
                text-align: center;
                justify-content: center;
  }
  
                      /* Email Form Styling */
                      #email-form-name {
                        width: 100%;
                        height: 50px;
                        border: 1px solid darkgray;
                        display: flex;
                        border-radius: 10px;
                        transition: 0.4s;
                        margin-bottom: -30px;
                      }
                      
                      #email-form-email {
                        width: 100%;
                        height: 50px;
                        border: 1px solid darkgray;
                        border-radius: 10px;
                        display: flex;
                        transition: 0.4s;
                      }
                      
                      #email-form-subject {
                        width: 100%;
                        height: 50px;
                        border: 1px solid darkgray;
                        border-radius: 10px;
                        transition: 0.4s;
                        display: flex;
                      }
                      
                      #email-form-message {
                        width: 100%;
                        height: 220px;
                        border: 1px solid darkgray;
                        border-radius: 10px;

                        transition: 0.4s;
                        display: flex;
                      }
                      
                      #email-form-button {
                        width: 100%;
                        height: 50px;
                        background: rgb(#9DC88D);
                        background: linear-gradient(173deg, #37A28E 0%, #264653 100%);
                        border: 1px solid darkgray;
                        border-radius: 10px;
                        justify-content: center;
                        align-items: center;
                        font-size: 18px;
                        transition: 0.4s;
                        display: flex;
                        margin-top: 1rem;
                      }
                      
                      #email-text-muted {
                        display: flex;
                        justify-content: center;
                      }
                      
                      .form-label {
                        margin-left: 40rem;
                        text-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
                          rgb(0 0 0 / 73%) 0px 16px 10px -10px;
                      }
                      
                      .form-control {
                        box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
                          rgb(0 0 0 / 73%) 0px 16px 10px -10px;
                      }

                      /* Footer Content */
                      .above-footer-hr {
                        margin-top: 50px;
                      }
                      /* Contact Icon Menu Styling */
                      footer {
                      
                        color: white;
                        display: flex;
                        font-size: 16px;
                        min-height: 10vh;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                      }
                      
                      #contact-info {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                      
                        margin-top: 50px;
                      
                      }
                      
                      #contact-icon-menu {
                        position: static;
                        display: inline-flex;
                      }
                      
                      #contact-icon-ul {
                        list-style: none;
                        width: 100%;
                        left: 15px;
                      
                      }
                      
                      li {
                        border: 1px solid black;
                        display: inline-block;
                        width: 2rem;
                        height: 2rem;
                        background: rgb(#9DC88D);
                        background: linear-gradient(173deg, #37A28E 0%, #264653 100%);
                        border-radius: 10px;
                        margin-right: 1.5rem;
                        margin-left: -1rem;
                        margin-top: 0rem;
                        margin-bottom: 0.5rem;
                        box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
                          rgb(0 0 0 / 73%) 0px 16px 10px -10px;
                        transition: 0.4s;
                      
                      }
                      
                      li:hover {
                        transform: scale(1.15);
                        border: 1px solid;
                      }
                      
                      #contact-icon-github {
                        background: rgb(#9DC88D);
                        background: linear-gradient(173deg, #37A28E 0%, #264653 100%);
                        z-index: 10;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        border-radius: 10px;
                        transition: 0.4s;
                        transform: rotate(0deg);
                      }
                      
                      #contact-icon-github:hover {
                        background: black;
                        z-index: 10;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        border-radius: 10px;
                        transition: 0.4s;
                        transform: rotate(0deg);
                      }
                      
                      
                      #contact-icon-linkedin:hover {
                        background: #0072b1;
                        z-index: 10;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        border-radius: 10px;
                        transition: 0.4s;
                        transform: rotate(0deg);
                        transform: scale(1.15);
                        border: 1px solid;
                      }

                      #copyright-footer {
                       color: #efd09e;
      }
    }
    
    @media only screen and (device-width: 768px) {
      /* default iPad screens */
    }












