*{
  box-sizing: inherit;
}

body,
header,
html {
    font-family: 'Nanum Gothic Coding',
    monospace;
    font-weight: 700;
  scroll-behavior: smooth;
}
.App {
font-family: 'Nanum Gothic Coding',
monospace;
font-weight: 700;
  text-align: center;
  color: white;
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.App-header {
  font-family: 'Nanum Gothic Coding',
  monospace;
  font-weight: 700;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3 {
    font-family: 'Nanum Gothic Coding',
    monospace;
    font-weight: 700;
}

/* landing page text */

.word {
  color: rgb(0, 157, 255);
  font-size: 65px;
  margin-right: 36rem;
}

.about{
  color: rgb(255, 255, 255);
  font-size: 25px;
  margin-right: 36rem;
  text-align: start;
}

#about-title{
  color: rgb(255, 255, 255);
  font-size: 25px;
  margin-right: 36.5rem;
  text-align: start;
  color: #a2acbe;
    text-shadow: 5px 5px black
}

.type-writer {
  color: aqua;
  box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
    rgb(0 0 0 / 73%) 0px 16px 10px -10px;
}
.animated-div1 {
  z-index: 10;
  background-color: aliceblue;
  display: block;
  height: 500px;
  border-radius: 255px;
}

/* Project cards */

#projects-section {
  margin-bottom: 40px;
}

.above-footer-hr {
  margin-top: 50px;
}

/* Navbar links and styling */

.navbar {
    font-family: 'Nanum Gothic Coding',
    monospace;
    font-weight: 700;
  min-height: 5vh;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
    box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
    rgb(0 0 0 / 73%) 0px 5px 15px -10px;
      background: #141e30;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right,
        #243b55,
        #141e30);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right,
        #243b55,
        #141e30);
}

.nav-links {
  background-color: hidden;
  width: 555px;
  display: flex;
    font-family: 'Nanum Gothic Coding',
    monospace;
    font-weight: 700;
  font-size: 22px;
  color: white;
  
}

.portfolio {
  min-height: 60vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 16px;
    font-family: 'Nanum Gothic Coding',
    monospace;
    font-weight: 700;
  
  font-style: italic;
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 16px;
    font-family: 'Nanum Gothic Coding',
    monospace;
    font-weight: 700;
  font-style: italic;
  min-height: 45vh;
}

.projects-title {
  margin-bottom: 40px;
}

.about {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Contact icon links (footer) */
.github-link {
  width: 48px;
}

.linkedin-link {
  width: 48px;
  margin-left: 30px;
}

.email-link {
  width: 58px;
  margin-left: 30px;
}

/* Project SVGs showcasing gifs on hover */
#projectSVG {
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  margin-left: 25px;
  border-radius: 15px;
  border: darkgray solid;
  box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
    rgb(0 0 0 / 73%) 0px 16px 10px -10px;
  cursor: pointer;
  display: flex;
  transform: scale(1);
  width: 30%;
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s !important;
}

#projectSVG:hover {
  border: white solid;
  box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
    rgb(0 0 0 / 73%) 0px 16px 10px -10px;
  transform: scale(1.05);
  cursor: pointer;
  opacity: 1;
  transition: 0.4s;
}

#projectRect::before {
  content: "";
  background-image: url(#projectImage);
  z-index: 2;
}

#projectRect {
  fill: url(#projectGradient);
}

#projectGif {
  transition: 0.4s;
  opacity: 1;
}

#projectSVG:hover #projectRect {
  fill: url(#projectGif);
  opacity: 0;
}

#projectSVG:hover #projectImage {
  opacity: 0;
  transition: 0.4s;
}

#projectSVG:hover #projectGradient {
  opacity: 0;
  transition: 0.4s;
}

#projectRect > #projectGif {
  transition: 0.4s;
}

/* Contact Icon Menu Styling */
footer{

  color: white;
      font-family: 'Nanum Gothic Coding',
      monospace;
      font-weight: 700;
  font-size: 16px;
  
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contact-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Concert One", cursive;
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
  margin-top: 50px;

}

#contact-icon-menu{
  position: fixed;
  bottom: 4.5rem;
  left: 10px;
  width: 5rem;
  height: 4rem;
  margin-right: 102rem;
}

#contact-icon-ul{
 list-style: none;
 width: 100%;
 left: 15px;
}

li{
  border: .5px solid darkgray;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background: rgb(58, 60, 74);
  background: linear-gradient(173deg, rgba(58, 60, 74, 1) 0%, rgba(36, 38, 50, 1) 100%);
  border-radius: 10px;
  margin-right: 6rem;
  margin-left: -1rem;
  margin-top: 0rem;
  margin-bottom: 1rem;
  box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
    rgb(0 0 0 / 73%) 0px 16px 10px -10px;
  transition: 0.4s;
  
}

li:hover{
  transform: scale(1.15);
  border: 1px solid;
}

#contact-icon-github{
    background: rgb(58, 60, 74);
    background: linear-gradient(173deg, rgba(58, 60, 74, 1) 0%, rgba(36, 38, 50, 1) 100%);
  z-index: 10;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  transition: 0.4s;
  transform: rotate(0deg);
}

#contact-icon-github:hover {
  background: black;
  z-index: 10;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  transition: 0.4s;
  transform: rotate(0deg);
}


#contact-icon-linkedin:hover {
  background: #0072b1;
  z-index: 10;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  transition: 0.4s;
  transform: rotate(0deg);
    transform: scale(1.15);
    border: 1px solid;
}

#resume-button{
  background: rgb(58, 60, 74);
  background: linear-gradient(173deg, rgba(58, 60, 74, 1) 0%, rgba(36, 38, 50, 1) 100%);
  width: 150px;
  height: 80px;
  border: 1px solid darkgray;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  transition: 0.4s;
  transform: rotate(0deg);
    box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
    rgb(0 0 0 / 73%) 0px 16px 10px -10px;
}

#resume-button:hover{
  background: black;
  border: 1px solid white;
  z-index: 10;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  transition: 0.4s;
  transform: scale(1.15);
  cursor: pointer;
}


