body {
  margin: 0;
  font-family: "Concert One", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Concert One", cursive, source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}
